* {
    font-size: larger;
    font-family: sans-serif;
    background-color: rgb(59, 59, 59);
}

.title {
    border: 1px solid hsl(200, 100%, 50%);
    padding: 0.25em .75em;
    border-radius: 1.25em;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.container {
   justify-content: center;
    
    gap: 20px;
    max-height: 600px;
    height: 150%;
    margin: 0;
    display: flex;
    color: hsl(0, 0%, 74%);

}

.btnStyle {
    font-size: .5em;
    display: flex;
    background: hwb(200 0% 0% / 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.75em;
    border-radius: 1.25em;
    cursor: pointer;
    outline: none;
}

.btnFormat{
    margin-right: auto;
    display: flex;
}

.dropdown button{
    margin-top: 100px;
    border-radius: 1.25em;
    font-size: smaller;
    background-color: rgb(87, 114, 190);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropContent a {
    display: block;
    background-color: rgb(95, 95, 95);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
}

.dropContent {
    display: none;
    font-size: 20px;
    position: absolute;
    background-color: rgb(95, 95, 95);
    padding: 10px 15px;
    min-width: 20px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .dropContent {
    display: block;
}

.dropdown:hover button {
    background-color: rgb(64, 91, 165);
}

.subCategory {
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 0%, 0%);
}

.pdf-div {
    padding: 10px;
    background-color:rgb(110, 110, 110);
    width: 100% !important;
    height: 100% !important;
}

.skimButtonStyle{
    background: hwb(200 0% 0% / 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(201, 82%, 7%);
    padding: 0.05em .35em;
    border-radius: 1.25em;
    cursor: pointer;
    outline: none;
}

.pageCount {
    font-family: Cambria;
    font-size: smaller;
}