* {
    font-size: larger;
    font-family: sans-serif;
    background-color: rgb(59, 59, 59);
}

h1 {
    border: 1px solid hsl(200, 100%, 50%);
}

body {
    text-align: left;
    color: hsl(0, 0%, 74%);
    max-width: 400px;
    padding: 1rem;
}

.btnStyle {
    background: hwb(200 0% 0% / 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.75em;
    border-radius: 1.25em;
    cursor: pointer;
    outline: none;
}

.subCategory {
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 0%, 0%);
}

.pdf-div {
    padding: 50px;
    background-color:rgb(110, 110, 110);
    margin-top: 50px;
}
