* {
    z-index: 1;
    font-size: larger;
    font-family: sans-serif;
    background-color: transparent;
}

.title {
    border: 1px solid hsl(200, 100%, 50%);
    padding: 0.25em .75em;
    border-radius: 1.25em;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 600px;
    height: 150%;
    color: hsl(0, 0%, 74%);
}

.container .pdfProperties {
    display: flex;
    gap: 10px;
}

.btnStyle {
    font-size: .5em;
    display: flex;
    background: hwb(200 0% 0% / 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.75em;
    border-radius: 1.25em;
    cursor: pointer;
    outline: none;
}

.btnFormat{
    margin-right: auto;
    display: flex;
}

.dropdown {
    display: inline-block;
}

.dropdown button{
    border: 1px solid rgb(87, 114, 190);
    width: 150px;
    flex-shrink: 0; 
    margin-top: 100px;
    border-radius: 1.25em;
    font-size: .5em;
    color: hsl(0, 0%, 74%);
    
    padding: 10px 15px;
    cursor: pointer;
}

.dropContent a {
    display: block;
    background-color: rgb(95, 95, 95);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
}

.dropContent {
    display: none;
    font-size: 20px;
    position: absolute;
    background-color: rgb(95, 95, 95);
    padding: 10px 15px;
    min-width: 20px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .dropContent {
    display: block;
}

.dropdown:hover button {
    background-color: rgb(64, 91, 165);
}

.dropdown a:hover {
    background-color: rgb(68, 68, 68);
}

.subCategory {
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 0%, 0%);
}

.pdf-div {
    padding: 10px;
    width: 100% !important;
    height: 100% !important;
}

.skimButtonStyle{
    font-size: smaller;
    background: hwb(200 0% 0% / 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(201, 82%, 7%);
    padding: 0.05em .35em;
    border-radius: 1.25em;
    cursor: pointer;
    outline: none;
}

.pageCount {
    font-size: 20px;
    background: hwb(200 0% 0% / 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(0, 0%, 100%);
    padding: 0.05em .35em;
    border-radius: 1.25em;
}

.particles canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}